@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
img {
    margin-top: 5%;
}

svg {
    margin-top: 5%;
    max-width: 20%;
    height: auto;
}

p {
    padding: 5%;
    font-size: 3rem;
    font-family: 'Fjalla One';
}

input[type=text]:focus {
    box-shadow: 0 0 10px #334251 !important;
    border: 1px solid #334251 !important;
}

button:focus {
    box-shadow: 0 0 10px #334251 !important;
    border: 1px solid #334251 !important;
}

.lang-color-primary {
    color: #425568;
}

.lang-color-secondary {
    color: #334251;
}

.responsive-img {
    max-width: 20%;
    height: auto;
}

#main {
    font-size: 5rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 80%;
    background-color: #f3f5f5;
    box-shadow: 0 0 8px #334251;
    border-radius: 5px;
    padding-bottom: 5%;
}

#user {
    width: 60%;
    height: 6.5vh;
    font-size: 2vw;
    font-family: 'Fjalla One';
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#user::placeholder {
    color: #000000b2;
    opacity: 0.5;
}

#search {
    font-size: 1.25rem;
    color: #ebebeb;
    background-color: #425568;
    color: #ebebeb !important;
}

#fav-lang {
    padding: 0 !important;
    margin-top: -10px;
    font-size: 1.5rem;
}

#username {
    padding: 0 !important;
}